.sider {
  position: fixed;
  top: 4rem;
  bottom: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
  background: rgb(247 248 252);
  transition: width 0.2s ease 0s;

  :global {
    .ant-layout-sider-children,
    .ant-layout-sider-children .ant-menu,
    .ant-layout-sider-trigger {
      background: rgb(247 248 252);
      transition: width 0.2s ease 0s;
    }

    .ant-layout-sider-trigger {
      color: #333;
    }

    .ant-menu-item .anticon {
      font-size: 24px;
    }
  }
}
