.form-item-label {
  display: inline-block;
  width: 88px !important;
}

.form-item-label-option {
  display: inline-block;
  width: 98px !important;
}

.form-item-require {
  display: inline-block;
  margin-right: 12px;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun,sans-serif;
  line-height: 1;
  content: "*";
}

.url-container {
  overflow-x: auto;

  .url-container-item {
    width: 100%;
  }
}

.btn-action {
  margin-right: 20px;
}

.container {
  margin-top: 60px;
  padding: 20px 0;
  height: auto;
  min-height: 500px;
  background: #fff;

  .container-title {
    display: flex;
    justify-content: center;
  }

  .container-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}