.header {
  z-index: 16;
  display: block;
  padding: 0 !important;
  background: #fff;
  border: none;

  &-container {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 24px;
    background: rgb(255 255 255);
    box-shadow: rgb(0 0 0 / 16%) 0 1px 3px;
    -webkit-box-align: center;

    &-logo {
      width: 172px;
      height: 40px;
      display: inline-block;
      max-width: 500px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5em;
      background-image: url("../../public/images/app/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 20px;
    }
  }
}

.container-wrapper {
  line-height: 1.5rem;
  color: #333;

  .sider {
    position: fixed;
    top: 4rem;
    bottom: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
    background: rgb(247 248 252);
    transition: width 0.2s ease 0s;

    :global {
      .ant-layout-sider-children,
      .ant-layout-sider-children .ant-menu,
      .ant-layout-sider-trigger {
        background: rgb(247 248 252);
        transition: width 0.2s ease 0s;
      }

      .ant-layout-sider-trigger {
        color: #333;
      }

      .ant-menu-item .anticon {
        font-size: 20px;
      }
    }
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}
