.search-apps {
  display: flex;
  margin-bottom: 20px;

  &-input {
    display: flex;
    align-items: center;
    width: 220px !important;
    height: 32px;
    overflow: hidden;
    background-color: inherit;
    border: none;
    -webkit-box-align: center;
  }

  &-setting {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
  }

  &-setting:hover {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
  }
}
