.btn-action {
  margin-right: 20px;
}

.form-item-label {
  width: 80px;
  text-align: left;

  span {
    margin-left: 14px;
  }
}

.form-item-label-require {
  width: 80px;
  text-align: left;
}

.require-icon {
  display: inline-flex;
  margin-right: 8px;
  color: red;
}
