.login-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../../public/images/login/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  .login-form {
    position: relative;
    box-sizing: border-box;
    width: 400px;
    height: 350px;
    padding: 32px 72px;
    margin: 0 auto;
    background: rgb(255 255 255);

    .form-container {
      display: flex;
      width: 134px;
      height: 60px;

      .form-title {
        position: relative;
        left: 50%;
        width: 134px;
        height: 48px;
        background-image: url("../../public/images/login/anxin.png");
        background-repeat: no-repeat;
        background-size: cover;
      }

      .form-corner {
        position: absolute;
        top: 0;
        right: 0;
        width: 56px;
        height: 56px;
        background-image: url("../../public/images/login/container_corner.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  :global {
    .ant-form-item-no-colon {
      height: 20px;
      font-family: MicrosoftYaHei;
      font-size: 14px;
      line-height: 20px;
      color: #242424 !important;
    }
  }
}
